<form method="post" action="{{ path('app_event_lootHistory_delete', {'id': event.id, 'lootHistory_id': lootHistories.id}) }}" onsubmit="return confirm('Etes vous sûr ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lootHistories.id) }}">
    <button class="button-delete"><i class="bi bi-dash-circle"></i></button>
</form>