<form method="post" action="{{ path('app_event_participation_delete', {'id': event.id, 'participation_id': participations.id}) }}" onsubmit="return confirm('Etes vous sûr ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participations.id) }}">
    <button class="button-delete" title="Supprimer la participation"><i class="bi bi-dash-circle"></i></button>
</form>