{% extends 'base-front.html.twig' %}

{% block title %}- raid{% endblock %}

{% block body %}
<div class="title">
    <h1>
        {{ raid.name }}
    </h1>
</div>
<div class="container">
    <div class="container">
        {% if raid.id == 1 %}
            <div>
            <h2>Pas de données</h2>
            </div>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Dates</th>
                        <th colspan="1">Stats</th>
                    </tr>
                </thead>
                <tbody>
                    {% for events in raid.events %}
                    <tr>
                        <td>
                            <a href="{{ path('app_event_read', {'id': events.id}) }}" target="_blank">
                                {{ events.date ? events.date|date('d M Y - H:i') : ''  }}</br>
                            </a>
                        </td>
                        <td>Ø</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
<div class="bottom-button d-flex flex-wrap justify-content-evenly">
    <a class="bottom-button-back" href="{{ path('app_raid_list') }}">Retour</a>
</div>
{% endblock %}