{% extends 'base.html.twig' %}

{% block title %}- Liste des raids{% endblock %}

{% block body %}
{# <div class="searchBar">
{{ render(controller(
        'App\\Controller\\SearchController::raidSearchBar'
 )) }}
</div> #}
<div class="button-top">        
    <a href="{{ path('app_raid_create') }}"class="button-top-add" title="Ajouter"><i class="bi bi-plus-circle"></i> Ajouter un raid</a>
</div>
<div class="container">
    <table>
        <thead>
            <tr>
                <th colspan="1">Raid</th>
                <th colspan="1">Stats</th>
            </tr>
        </thead>
        <tbody>
            {% for raid in raids %}
                <tr>
                    <td>
                        <a href="{{ path('app_raid_show_by_slug', {'slug': raid.slug}) }}">
                            {{raid.name}}
                        </a>
                    </td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}