<form method="post" action="{{ path('app_admin_player_delete', {'id': player.id}) }}" onsubmit="return confirm('Etes vous sûr ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ player.id) }}">
    <button class="button-delete">Supprimer le joueur</button>
</form>